<?xml version="1.0"?>
<config>
	<modules>
		<Improntus_Ando>
			<version>1.0.2</version>
		</Improntus_Ando>
	</modules>
	<global>
		<helpers>
			<ando>
				<class>Improntus_Ando_Helper</class>
			</ando>
		</helpers>
		<blocks>
			<ando>
				<class>Improntus_Ando_Block</class>
			</ando>
		</blocks>
		<models>
			<ando>
				<class>Improntus_Ando_Model</class>
			</ando>
		</models>
		<resources>
			<ando_setup>
				<setup>
					<module>Improntus_Ando</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ando_setup>
			<ando_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ando_write>
			<ando_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ando_read>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<altura>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</altura>
				<observaciones>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</observaciones>
			</sales_convert_quote_address>
			<sales_convert_quote>
				<ando_quote_id>
					<to_order>*</to_order>
				</ando_quote_id>
			</sales_convert_quote>

			<customer_address>
				<altura>
					<to_quote_address>*</to_quote_address>
				</altura>
				<observaciones>
					<to_quote_address>*</to_quote_address>
				</observaciones>
			</customer_address>
			<sales_copy_order_billing_address>
				<altura>
					<to_quote_address>*</to_quote_address>
				</altura>
				<observaciones>
					<to_quote_address>*</to_quote_address>
				</observaciones>
			</sales_copy_order_billing_address>

		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<ando>
					<file>ando.xml</file>
				</ando>
			</updates>
		</layout>
		<translate>
			<modules>
				<Improntus_Ando>
					<files>
						<default>Improntus_Ando.csv</default>
					</files>
				</Improntus_Ando>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<adminhtml_widget_container_html_before>
				<observers>
					<ando_solicitar_button>
						<class>Improntus_Ando_Model_Observer</class>
						<type>singleton</type>
						<method>adminhtmlWidgetContainerHtmlBefore</method>
					</ando_solicitar_button>
				</observers>
			</adminhtml_widget_container_html_before>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ando before="Mage_Adminhtml">Improntus_Ando_Adminhtml</ando>
					</modules>
				</args>
			</adminhtml>
			<ando>
				<use>admin</use>
				<args>
					<module>Improntus_Ando</module>
					<frontName>ando</frontName>
				</args>
			</ando>
		</routers>
	</admin>
	<default>
		<carriers>
			<andobicicleta>
				<active>0</active>
				<title>Envios ANDO en bicicleta</title>
				<description>Recibí el pedido en tu casa en bicicleta.</description>
				<max_package_weight>3</max_package_weight>
				<model>Improntus_Ando_Model_Carrier_AndoBicicleta</model>
			</andobicicleta>
			<andomoto>
				<active>0</active>
				<title>Envios ANDO en moto</title>
				<description>Recibí el pedido en tu casa en moto.</description>
				<max_package_weight>3</max_package_weight>
				<model>Improntus_Ando_Model_Carrier_AndoMoto</model>
			</andomoto>
		</carriers>
		<shipping>
			<ando_webservice>
				<url>https://api.ando.la/v1/</url>
			</ando_webservice>
		</shipping>
	</default>
</config> 